<% provide(:title, 'About MRU') %>
<h1>About MRU</h1>
<p style="text-align:justify">
  The Festungsfront Oder-Warthe-Bogen (Fortified Front Oder-Warthe-Bogen), also called the Festung im Oder-Warthe-Bogen or Ostwall (East Wall), and in Polish the Międzyrzecki Rejon Umocniony (Międzyrzecz Fortification Region), was a fortified military defence line of Nazi Germany between the Oder and Warta rivers. Built in 1934–38, it was the most technologically advanced fortification system of Nazi Germany, and remains one of the largest and the most interesting systems of this type in the world today. It consists of around 100 concrete defence structures partially interconnected by a network of underground tunnels. Some of the forts and tunnels are available for visiting.

  The most interesting part is the central section, which begins in the south with the so-called Boryszyn Loop near the village of Boryszyn and extends about 12 km to the north. In the central section the bunkers are interconnected with an underground system of tunnels, 32 kilometres long and up to 40 metres deep. In the underground system there are also railway stations, workshops, engine rooms and barracks.

  It is also the largest European underground bat refuge, giving shelter to some 35,000 bats of 12 species in the wintertime.
</p>