<% provide(:title, 'History') %>
<h1>History</h1>
<br />
<p>
  The design works of the fortified defence line started in Germany in 1932. The first stage, until 1935, included constructing of water obstacles and 12 light bunkers. Adolf Hitler visited the construction site in the end of 1935. The end of works was scheduled for 1951.

When the Soviet army reached the defence line in the course of the Vistula–Oder Offensive in January, 1945, its advance was so rapid that the Germans did not have enough time to man the line adequately. It took only 3 days for it to be broken.

</p>