<footer class="footer">
  <small>
    by Adrian Sierociuk
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "History",   history_path %></li>
      <li><%= link_to "Contact", contact_path %></li>

    </ul>
  </nav>
</footer>